html {
  font-size: 62.5%;
}

body {
  margin: 5rem auto;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
  font-size: 4rem;
}

.block {
  padding: 3rem;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 2rem;
  row-gap: 1rem;
}

.grid--1x3 {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
  .grid--1x3 {
    grid-template-columns: 1fr;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img--wrapper {
  border: 1px solid #807e7e;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.box {
  border: 1px solid #807e7e;
  box-shadow: 0 0 0.5 #979595;
  padding: 2rem 3rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box__content > img {
  width: 100%;
}

.btn {
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  margin: 1rem 3rem;
  outline: 0;
  padding: 1rem 2rem;
  transition: transform 0.3s;
}

.btn--box {
  border: 1px solid #ccc;
  text-align: center;
  font-size: 2rem;
}

.btn:hover {
  transform: scale(1.1);
}

.btn--general {
  background: #807e7e;
}

.btn--general:hover {
  background: #979595;
}

.btn--green {
  background: rgb(4, 128, 4);
  color: #fff;
}

.btn--green:hover {
  background: rgb(36, 110, 36);
}

.btn--red {
  background: rgb(231, 32, 32);
  color: #fff;
}

.btn--red:hover {
  background: rgb(216, 87, 87);
}

.btn--blue {
  background: rgb(10, 10, 238);
  color: #fff;
}

.btn--blue:hover {
  background: rgb(42, 42, 175);
}

.btn--orange {
  background: rgb(180, 118, 2);
}

.btn--orange:hover {
  background: rgb(230, 152, 8);
}

.btn--random:hover {
  background: rgba(128, 128, 128, 0.5);
}

/* Project 2 - Palidrome Checker */

.input {
  display: flex;
  margin: 1rem auto;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  outline: 0;
}

/* Project 3 - Random Quote Generator */
#quote {
  font-size: 2rem;
  padding-left: 3rem;
}

/* Project 4 - Stop Watch */
#time {
  font-size: 8rem;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

/* Project 5 - TODO List */
.header {
  text-align: start;
  margin-left: 3rem;
}

h2 {
  font-size: 3rem;
  margin-left: 3rem;
}

.project5 {
  justify-content: flex-start;
}

.project5.input {
  margin: 1rem 3rem;
}

.items {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #111;
}

.list {
  padding: 0;
  margin-left: 3rem;
}

.list_item {
  margin-bottom: 3rem;
  font-size: 2rem;
}
