html {
  font-size: 62.5%;
}

body {
  margin: 5rem auto;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 4rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  border-radius: 5px;
  border: 0;
  height: 5rem;
  margin: 1rem 3rem;
  outline: 0;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

.btn--green {
  background: rgb(22, 230, 22);
  color: #fff;
}

.btn--green:hover {
  background: rgb(36, 110, 36);
}

.btn--red {
  background: rgb(231, 32, 32);
  color: #fff;
}

.btn--red:hover {
  background: rgb(216, 87, 87);
}

.btn--blue {
  background: rgb(10, 10, 238);
  color: #fff;
}

.btn--blue:hover {
  background: rgb(42, 42, 175);
}

.btn--random:hover {
  background: rgba(128, 128, 128, 0.5);
}

/* Project 2 - Palidrome Checker */

#input {
  display: flex;
  margin: 1rem auto;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  outline: 0;
}

/* Project 3 - Random Quote Generator */
#quote {
  font-size: 2rem;
  padding-left: 3rem;
}
